/* default css */

*{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.fixed-width{
    max-width: 1400px;
    text-align: center;
    margin: auto;
}
hr{
    color: green;
}



/* ................header.................. */
.main{
    background-color: white;
    border-bottom: 2px solid #ddd;
}
.header{
    max-width: 1400px;
    margin: auto;
}

.left-logo{
    width: 20%;
    height: auto;
    float: left;
}
.logo{
    width: 130px;
    height: auto;
}
.left-logo img{
    float: right;
}

.right-menu{
    float: right;
    width: 75%;
    height: auto;
    line-height: 60px;
}

.right-menu nav{
    text-align: right;
}
.right-menu nav a{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: #010101;
    font-weight: bold;
    padding: 10px 25px;
    border-right:1px solid #ddd ;
    height: 68px;
}
/* ................banner................. */
.banner{
    background: url(../images/food.jpg) no-repeat center center;
    background-size: cover;
    padding: 300px;;
}

/* ..............................about us.............. */

.about-section{
    background-color: #fff;
}
.about{
    padding-top: 50px;
    padding-bottom: 50px;
}
.about h3{
    color: #010101;
    font-size: 35px;
    padding: 30px 0;
}
.about p{
    padding-bottom: 30px;
    /* padding-top: 30px; */
}
/* .....tutorial section...... */
.tutorial-section{
    padding: 50px;
}
.tutorial-section button{
    background-color:skyblue;
    border: 2px solid blue;
    padding: 10px 25px;
}
.tutorial-section button a{
    text-decoration: none;
    color: #010101;
    font-weight: bold;
    font-size: 20px;
}
/* ....................blog................ */

.blog-section{
    background-color: #f9f9f9;
    padding-top: 10px;
}

.blog{
    padding-top: 30px;
}
.blog h2{
    color: #010101;
    font-size: 35px;
    padding-bottom: 30px ;
}
   
.blog .left-photo{
    width: 20%;
    height: auto;
    float: left;
}
.blog .right-defination{
    width: 80%;
    float: right;
}
.blog .right-defination p{
    font-size: 20px;
}

/* .......................contact section.................. */

.contact-section{
    padding-top: 30px;
    margin-bottom: 20px;
}
.contact-us{}
.contact-us h1{
    padding-bottom: 30px;
}

.contact-us .mainlogo{
    width: 40%;
    float: left;
    margin-top: 90px;
}


.contact-us .form{
    width: 40%;
    float: right;
    background-color: rgba(153, 205, 50, 0.39);
}
.contact-us .form form{}

.contact-us .form form input{
    padding: 10px 150px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.contact-us .form textarea{
    padding: 10px 92px;
    margin-top: 20px;
}
.form button{
    margin-bottom: 20px;
    margin-top: 20px;
    
}


/* ..............footer.................... */
 .footer-section{
     margin-top: 50px;
 }
.footer .map{
    width:100%
    
}
.footer .map iframe{
    width: 100%;
    height: 400px;
}
.footer2{
    background-color:#130f40 ;
}
.footer-end{
    width: 100%;
}
.left-footer{
    color: white;
    padding:50px;
}
/* .............turorials page......................... */
.tutorial-page .fixed-width{
    text-align: left;
}
.tutorial1{
    color: green;
    text-decoration: underline;
}
.title{
    color: red;
}
table, th, td{
    border: 1px solid #ddd;
}
table{
    text-align: center;
}
th{
    background-color: rgba(255, 99, 71, 0.37);
}
td{
    background-color: rgba(153, 205, 50, 0.342);
}

